<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>connectionDB</display-name>
    <servlet-name>connectionDB</servlet-name>
    <servlet-class>controller.connectionDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectionDB</servlet-name>
    <url-pattern>/connectionDB</url-pattern>
  </servlet-mapping>
  <display-name>gestion-contact</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionContact</display-name>
    <servlet-name>GestionContact</servlet-name>
    <servlet-class>controllers.GestionContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionContact</servlet-name>
    <url-pattern>/GestionContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>controllers.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>controllers.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>controllers.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
</web-app>